@font-face{
  font-family: "Itim";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/itim-regular.woff2") format("woff2"),
       url("../../fonts/itim-regular.woff") format("woff");
  font-display: fallback;
}

@font-face{
  font-family: "Fira Mono";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/fira-mono-regular.woff2") format("woff2"),
       url("../../fonts/fira-mono-regular.woff") format("woff");
  font-display: fallback;
}
