/**
 * Take a (Client) Hint! presentation theme styles.
 * By Jeremy L. Wagner, https://www.jeremywagner.me
 **/
// Default mixins and settings
@import "../template/mixins";
@import "../template/settings";
@import "../template/theme";

// Font imports
@import "fonts.scss";

// Theme overrides
$headingColor: $ghostWhite;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: none;

::selection {
  color: $selectionColor;
  background-color: $selectionBackgroundColor;
}

::-moz-selection {
  color: $selectionColor;
  background-color: $selectionBackgroundColor;
}

.reveal {
  code,
  pre {
    font-family: $monospace;
  }

  pre {
    width: 100%;
    box-shadow: none;
    font-size: 1.5278838808em;
    text-align: left;
    line-height: 1.309;
  }

  .slides {
    section {
      .fragment {
        transition: none;
      }
    }
  }

  .sparkle {
    display: inline-block;
    vertical-align: middle;

    & + code {
      margin-left: .1em;
      margin-right: .1em;
      display: inline-block;
      vertical-align: middle;
    }
  }

  code + .sparkle {
    transform: scaleX(-1);
  }

  .accent {
    color: $vividAuburn;
  }

  .smallest {
    max-width: 30%;
  }

  .small {
    max-width: percentage(1 / 3);
  }

  .medium {
    max-width: percentage(1 / 2);
  }

  .large {
    max-width: percentage(2 / 3);
  }

  .larger {
    max-width: percentage(5 / 6);
  }

  .bordered {
    border: 2px solid $lapisLazuli;
  }

  section {
    a {
      color: $vividAuburn;

      &:hover {
      }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
      color: $lapisLazuli;
      font-family: $headingFont;
    }

    h1 {
      font-size: $heading1Size;
    }

    h2 {
      font-size: $heading2Size;
    }

    h3 {
      font-size: $heading3Size;
    }

    h4 {
      font-size: $heading4Size;
    }

    h5 {
      font-size: $heading5Size;
    }

    h6 {
      font-size: $heading6Size;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      line-height: 1.309;
      text-align: left;
      font-weight: 700;
      margin: 0;

      code {
        text-transform: none;
      }
    }

    blockquote {
      background: none;
      text-align: left;
      width: 100%;
      box-shadow: none;
      line-height: 1.309;
      font-size: 0.875em;
      padding: 0 0 0 1em;
      text-transform: none;

      code {
        font-style: normal;
        font-size: 0.9em;
      }

      cite {
        text-align: right;
        display: block;
        font-size: 0.8333333333em;
        margin: 0.3333333333em 0 0;
      }
    }

    h3 + pre {
      margin: 0.5em 0 1.5em;
    }

    table {
      font-family: $mainFont;
      font-size: $heading5Size;
      line-height: 1.309;
      border-collapse: collapse;
      margin: .5em auto 0;
    }

    li {
      margin-bottom: 0.5em;
      color: $lapisLazuli;
      font-family: $mainFont;
      list-style: none;
      text-align: left;
      font-size: $heading5Size;
      line-height: 1.309;

      &:first-child {
        margin-top: 0.5em;
      }
    }

    img,
    video {
      border: 0;
      background: transparent;
      box-shadow: none;
      height: auto;
      margin: 0;
    }

    .flex-container {
      display: flex;
      justify-content: space-around;
      align-items: center;
      align-content: center;

      & > * {
        width: 48.75%;
        height: auto;
      }
    }

    .shadow {
      box-shadow: 0 0 2em #000;
    }

    .uppercase {
      text-transform: uppercase;
    }

    .nowrap {
      white-space: nowrap;
    }
  }

  picture {
    & > .stretch {
      width: 100%;
    }
  }

  th,
  td {
    color: $lapisLazuli;
    text-align: left;
    padding-left: .5em;
    padding-right: .5em;
    border: .05em solid $lapisLazuli;

    &.right {
      text-align: right;
    }

    code {
      font-weight: 400;
    }
  }

  hr {
    border-style: none;
    border-top: 2px solid $lapisLazuli;
    margin: 0.33em 0;
  }
}

body {
  background: $ghostWhite;
}

.centered body {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  li,
  p {
    text-align: center;
  }

  .reveal {
    .slides {
      section {
        text-align: center;
      }
    }
  }
}

.section-starter body {
  .reveal {
    .slides {
      section {
        .sections {
          h4 {
            text-transform: uppercase;
            opacity: (1 / 3);

            &.current {
              opacity: 1;
              color: $vividAuburn;
            }

            &.past {
              opacity: 1;
              color: $lapisLazuli;
              text-decoration: line-through;
            }
          }
        }

        .section-image {
          width: 100%;
        }
      }
    }
  }
}
