// Base settings for all themes that can optionally be
// overridden by the super-theme

// Background of the presentation
$backgroundColor: #2b2b2b;

// Theme-specific variables
$ghostWhite: #fafaff;
$lapisLazuli: #275dad;
$vividAuburn: #8c271e;
$licorice: #12100e;
$onyx: #3d2b3d;

// Primary/body text
$mainFont: "Cabin Sketch", sans-serif;
$mainFontSize: 42px;
$mainColor: $ghostWhite;

// Vertical spacing between blocks of text
$blockMargin: 20px;

// Headings
$headingMargin: 0 0 $blockMargin 0;
$headingFont: "Cabin Sketch", sans-serif;
$headingColor: #eee;
$headingLineHeight: 1.618;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$headingTextShadow: none;
$headingFontWeight: normal;
$heading1TextShadow: $headingTextShadow;

$heading1Size: 7.6864928656em;
$heading2Size: 5.8720342747em;
$heading3Size: 4.485893258em;
$heading4Size: 3.426962em;
$heading5Size: 2.618em;
$heading6Size: 2em;

// Links and actions
$linkColor: $vividAuburn;
$linkColorHover: lighten($linkColor, 20%);

// Text selection
$selectionBackgroundColor: #FF5E99;
$selectionColor: #fff;

// Generates the presentation background, can be overridden
// to return a background image or gradient
@mixin bodyBackground() {
	background: $backgroundColor;
}
